    <!-- INCLUDE overall_header.html -->

    <h2>Контакты</h2>

    <div class="panel">
       <div class="inner"><span class="corners-top"><span></span></span>

       <div class="content">
          <p>
             По всем вопросам обращайтесь по адресу <a href="mailto:info@pkvartal.kiev.ua">info@pkvartal.kiev.ua</a>
          </p>
       </div>

       <span class="corners-bottom"><span></span></span></div>
    </div>

    <!-- INCLUDE jumpbox.html -->
    <!-- INCLUDE overall_footer.html -->