<!-- INCLUDE overall_header.html -->
<a href="./podvozilka.php">{BACK}</a> |
<a href="./podvozilka.php?whattodo=icanbring">{ICANBRING}</a>
<!-- IF IS_LOGGED_IN == true -->
<table id="grid"></table>
<div id="pager"></div>

<script>
$(document).ready( function() {
    
    var mydata = [
    <!-- BEGIN block_events -->{ "descr" : "{block_events.USERNAME}", "comments" : "<!-- IF block_events.COMMENTS ne "" -->{block_events.COMMENTS}<!-- ELSE -->&nbsp;<!-- ENDIF -->" }<!-- IF block_events.S_ROW_COUNT + 1 < EVENTS_COUNT -->,<!-- ENDIF --><!-- END block_events -->
    ];
    
    $("#grid").jqGrid({ //set your grid id
        data: mydata, //insert data from the data object we created above
        datatype: 'local',
        width: 500, //specify width; optional
        colNames:['descr','comments'], //define column names
        colModel:[
        {name:'descr', index:'descr', key: true, width:50},
        {name:'comments', index:'comments', width:100}
        ], //define column models
        pager: '#pager', //set your pager div id
        sortname: 'id', //the column according to which data is to be sorted; optional
        viewrecords: true, //if true, displays the total number of records, etc. as: "View X to Y out of Z” optional
        sortorder: "asc", //sort order; optional
        caption:"jqGrid Example" //title of grid
    });
});
</script>

<!-- ELSE -->
{NOT_LOGGED_ERROR}
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->