<!-- INCLUDE overall_header.html -->

<!-- IF IS_LOGGED_IN == true -->
<table cellspacing="1" width="100%">
    <tr>
        <td>
            <a href="./podvozilka.php?whattodo=icanbring">{ICANBRING}</a> |
            <a href="./podvozilka.php?whattodo=bringmeup">{BRINGMEUP}</a> |
        </td>
    </tr>
    <!-- IF MESSAGE ne "" -->
    <tr>
        <td align="center"><b>{MESSAGE}</b></td>
    </tr>
    <!-- ENDIF -->
</table>

<!-- ELSE -->
<table cellspacing="1" width="100%">
    <tr>
        <td>{NOT_LOGGED_ERROR}</td>
    </tr>
</table>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->